
@{
    ViewBag.Title = "Check";
}

<h2>Check</h2>
<button id="xxx">Mačkej</button>
<div id="result"><?php echo $_POST["jmeno"]; ?></div>
<script>
    var my_javascript_variable = <?php echo $_POST['jmeno'] ?>;
    $('#xxx').click(function () {
        document.getElementById("result").innerHTML = $_POST["jmeno"];
    });
    document.getElementById("result").innerHTML = my_javascript_variable;
</script>




@*@section scripts {
        <script>

            if (isset($_POST['jmeno'])) {
                echo 'Vaše jméno: ' . htmlspecialchars($_GET['jmeno']);
            } else {
                echo 'Nebylo zadáno žádné jméno.';
            }
        /*//document.getElementById("xxx")
    $('#xxx').click(function () {
        $.ajax({
            url: '/api/Test',
            type: 'post'
        }).success(function (response) {
            //console.log(response);

            $('#results').append(
                $(htmlspecialchars($_GET['jmeno'])
            ));
        });
    });
    $_GET["jidlo"]*/
        </script>
    }*@
<!--SHit help: http://php.baraja.cz/metody-odesilani-dat-->